/*
hovered as portal
ts-vertical-nav-root ts-collapsed ts-hovered mui-pdqj54

*/

.mui-pdqj54.ts-collapsed {
    inline-size: 71px;
    min-inline-size: 71px;
}

.mui-pdqj54 {
    position: -webkit-sticky;
    position: sticky;
    inset-block-start: 0;
    block-size: 100dvh;
    z-index: 9;
    transition-property: inline-size, min-inline-size, margin-inline-start, inset-inline-start;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    inline-size: 260px;
    min-inline-size: 260px;
    color: var(--mui-palette-text-primary);
    z-index: var(--drawer-z-index) !important;
}


/*
collapsed as portal
ts-vertical-nav-root ts-collapsed mui-6s7cqw
*/
.mui-6s7cqw.ts-collapsed {
    inline-size: 71px;
    min-inline-size: 71px;
}
.mui-6s7cqw {
    position: -webkit-sticky;
    position: sticky;
    inset-block-start: 0;
    block-size: 100dvh;
    z-index: 9;
    transition-property: inline-size,min-inline-size,margin-inline-start,inset-inline-start;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    inline-size: 260px;
    min-inline-size: 260px;
    color: var(--mui-palette-text-primary);
    z-index: var(--drawer-z-index)!important;
}


/*
pinned
ts-vertical-nav-root mui-oluqk0
*/
.mui-oluqk0 {
    position: -webkit-sticky;
    position: sticky;
    inset-block-start: 0;
    block-size: 100dvh;
    z-index: 9;
    transition-property: inline-size,min-inline-size,margin-inline-start,inset-inline-start;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    inline-size: 260px;
    min-inline-size: 260px;
    color: var(--mui-palette-text-primary);
    z-index: var(--drawer-z-index)!important;
}


/*

hovered portal - container

*/

.mui-pdqj54 .ts-vertical-nav-container {
    -webkit-transition: inline-size 300ms ease-in-out 0ms,inset-inline-start 300ms ease-in-out 0ms,box-shadow 300ms ease-in-out 0ms;
    transition: inline-size 300ms ease-in-out 0ms,inset-inline-start 300ms ease-in-out 0ms,box-shadow 300ms ease-in-out 0ms;
    border-color: transparent;
    box-shadow: var(--mui-customShadows-sm);
}
